<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsxy.chatbot.mapper.UserMapper">
    <select id="getUserById" parameterType="java.lang.Integer" resultType="com.gsxy.chatbot.model.User">
        select * from user where id=#{id}
    </select>
    <!--查询用户是否存在，若是存在则提示已存在-->
    <select id="findUserNameByName" parameterType="java.lang.Integer" resultType="com.gsxy.chatbot.model.User">
            select u.name,u.password from user_info u where u.name=#{name}
    </select>
    <!--用户登录-->
    <select id="login" parameterType="java.lang.Integer" resultType="com.gsxy.chatbot.model.User">
      select u.id from user_info u where u.name = #{name} and u.password = #{password}
    </select>
    <!--新增用户加入该注解可以保存对象后查看对象插入id-->
    <insert id="regist" parameterType="com.gsxy.chatbot.model.User" useGeneratedKeys="true">
        insert into user_info(name,gender,head_portrait) 
        values(#{name},#{gender},#{head_portrait})
    </insert>

    <select id="verifyLogin" resultType="java.lang.Integer">
        select COUNT(1) from user_login where account=#{account} and password=#{pwd}
    </select>
</mapper>